
<div class="container">
    <div class="card" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title"><%= @post.header %></h5>
        <h6 class="card-subtitle mb-2 text-muted">author:<%= @post.user.user_name %></h6>
        <p class="card-text"><%= @post.body %></p>
        <a href="#" class="card-link">Ссылка карты</a>
        <a href="#" class="card-link">Другая ссылка</a>
    </div>
    </div>
</div>